body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: $main-text-color;
    background-image: url("../images/body/img-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  
    @media screen and(min-width:768px) {
      background-image: url("../images/body/img-2.svg");
    }
  
    @media screen and(min-width:1280px) {
      background-image: url("../images/body/img-3.svg");
    }
}

body.modal-open {
  overflow: hidden;
}