.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

.card-set__item {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}

// .card-set {
//   display: flex;
//   flex-wrap: wrap;
//   gap: var(--indent);
// }
// .card-set__item {
//   flex-basis: calc(
//     (100% - (var(--indent) * (var(--cards-in-row) - 1))) / (var(--cards-in-row))
//   );
// }
