/* color */
$main-text-color: #3C322D;
$secondary-text-color: #FFFFFF;
$title-color: #2E2520;
$black-color: #000000;
$text-hover-color: #FCFCFC;
$btn-hover-color: #F3848C;

/* background */
$btn-bgc: #F3848C;
$secondary-bgc:#F6F7F7;
/* others */
$indent: 32px;
$items: 4;
/* transition */
$duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);