/* color */
$main-text-color: #3c322d;
$secondary-text-color: #ffffff;
$title-color: #2e2520;
$black-color: #000000;
$text-hover-color: #fcfcfc;
$btn-hover-color: #f3848c;

/* background */
$btn-bgc: #F3848C;
$secondary-bgc:#F6F7F7;
$bgc-price: #fafbfb;
/* others */
$indent: 32px;
$items: 4;
/* transition */
$duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
