<section class="contact">
  <div class="container">
    <h2 class="contact__subheader">Contact</h2>
    <p class="contact__text">We will answer any question!</p>
    <form name="contact_form" class="contact__form">
      <label name="user_email">
        <input
          class="contact__input contact__email"
          type="email"
          placeholder="Email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          title="Please, enter your e-mail"
        />
      </label>
      <label name="user_question">
        <input
          class="contact__input contact__question"
          type="text"
          placeholder="Type your question"
          required
        />
      </label>
      <button type="submit" class="contact__btn">Send</button>
    </form>
  </div>
  <div class="socials">
    
  </div>
</section>
