<section class="footer">
  <div class="container footer__container">
    <a href="tel:9102228855" class="footer__link footer__phone">
      (910)222-8855
    </a>
    <a href="https://goo.gl/maps/xZ1AifC3azrUc7xc9" class="footer__link footer__location" target="_blank"
    rel="noopener noreferrer nofollow"> New York </a>
    <img
      src="./images/footer/colorful-and-tasty-donuts@1x.png"
      srcset="./images/footer/colorful-and-tasty-donuts@1x.png 1x, ./images/footer/colorful-and-tasty-donuts@2x.png 2x"
      alt="donuts"
      class="footer__img"
      width="60"
      height="40"
      loading="lazy"
    />
  </div>
</section>
