<!--Navigation Menu-->
      <header class="header">
      <div class="nav__container">
        <nav class="nav">
            <a  href="./index.html">
                <img
                class="logo"
                 srcset="
                 ./images/header/logo_mbl@1x_108.png 108w,
                 ./images/header/logo_tblt@1x_106.png 106w,
                 ./images/header/logo_dsktp@1x_158.png 158w,
                 ./images/header/logo_mbl@2x_216.png 216w,
                 ./images/header/logo_tblt@2x_212.png 212w,
                 ./images/header/logo_dsktp@2x_316.png 316w "
                   
                 sizes="(min-width: 1280px) 158px, (min-width: 768px) 106px, (max-width: 767px) 108px, 100vw"
          src="./images/header/logo_mbl@1x_108.png"
          alt="logo"
          loading="lazy"
          /></a>

                <ul class="nav__list">
    
                  <li class="nav__item"><a class="nav__link link" href="#section-about-us">About us</a></li>
                  <li class="nav__item"><a class="nav__link link" href="#section-program">Program</a></li>
                  <li class="nav__item"><a class="nav__link link" href="#section-speakers">Speakers</a></li>
                  <li class="nav__item"><a class="nav__link link" href="#section-price">Price</a></li>
                  <li class="nav__item"><a class="nav__link link" href="#section-reviews">Reviews</a></li>
                  <li class="nav__item"><a class="nav__link link" href="#section-contacts">Contacts</a></li>
                  
                </ul>
              </nav>    
      
              <button
              class="menu__toggle js-open-menu"
              aria-expanded="false"
              aria-controls="mobile-menu"
            >
              <svg
                width="30"
                height="16"
                fill="currentColor"
                viewBox="0 0 60 32"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 0h56a2 2 0 1 1 0 4H2a2 2 0 1 1 0-4zM2 14h56a2 2 0 1 1 0 4H2a2 2 0 1 1 0-4zM2 28h56a2 2 0 1 1 0 4H2a2 2 0 1 1 0-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
    </div>
</header>
        <!--Mobile Menu-->
        <div class="menu-container js-menu-container" id="mobile-menu">
                <button class="menu__toggle  js-close-menu" >
                    <svg
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"  
                    width="32"
                    height="32"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
               
                    <img
                    class="logo menu__logo"
                     srcset="
                     ./images/header/logo_mbl@1x_108.png 108w,
                     ./images/header/logo_tblt@1x_106.png 106w,
                     ./images/header/logo_dsktp@1x_158.png 158w,
                     ./images/header/logo_mbl@2x_216.png 216w,
                     ./images/header/logo_tblt@2x_212.png 212w,
                     ./images/header/logo_dsktp@2x_316.png 316w "
                       
                     sizes="(min-width: 1280px) 158px, (min-width: 768px) 106px, (max-width: 767px) 108px, 100vw"
              src="./images/header/logo_mbl@1x_108.png"
              alt="logo"
              loading="lazy"
              />
            
                <ul class="mob__list">
         
           <li class="mob__item"><a class="mob__link link" href="#section-about-us">About us</a></li>
           <li class="mob__item"><a class="mob__link link" href="#section-program">Program</a></li>
           <li class="mob__item"><a class="mob__link link" href="#section-speakers">Speakers</a></li>
           <li class="mob__item"><a class="mob__link link" href="#section-price">Price</a></li>
           <li class="mob__item"><a class="mob__link link" href="#section-reviews">Reviews</a></li>
           <li class="mob__item"><a class="mob__link link" href="#section-contacts">Contacts</a></li>
          </ul>
            
         </div>
     
           <!--Hero-->
       
             <section class="hero">
                 <div class="hero__container">
     
                 <h1 class="hero__title"> Donut Masterclass with the Donut King </h1> 
                 <p class="hero__subtitle">Hosted by Eva Green</p>
                 <button class="hero__btn" type="button">Register</button>
            
                 <ul class="hero__social__list">
                     <li class="hero__social__item">
                         <a class="hero__social__link link" href="https://twitter.com"
                         target="_blank"
                         rel="noopener norefferrer"
                         aria-label="Twitter icon">
                         <svg class="hero__social__icon" width="16"
                         height="16">
                         <use href="./images/icons.svg#icon-twitter"></use>
                         </svg>
                       </a>
                       </li>
                       <li class="hero__social__item">
                         <a class="hero__social__link link" href="https://instagram.com"
                         target="_blank"
                         rel="noopener norefferrer"
                         aria-label="Instagram icon">
                         <svg class="hero__social__icon" width="16"
                         height="16">
                         <use href="./images/icons.svg#icon-instagram"></use>
                         </svg>
                       </a>
                       </li>
                     <li class="hero__social__item">
                         <a class="hero__social__link link" href="https://facebook.com"
                         target="_blank"
                         rel="noopener norefferrer"
                         aria-label="Facebook icon">
                         <svg class="hero__social__icon" width="16"
                         height="16">
                         <use href="./images/icons.svg#icon-facebook"></use>
                         </svg>
                       </a>
                       </li> 
                 </ul>
             </div>  
        </section>
           
          