<!--Hero-->

<section class="hero">
    <div class="hero__container container">

        <h1 class="hero__title">Donut Masterclass<br> with the Donut King</h1>
        <p class="hero__subtitle">Hosted by Eva Green</p>
        <a href="#registration" class="hero__btn btn">Register</a>
        <ul class="hero__social__list">
            <li class="hero__social__item">
                <a class="hero__social__link link" href="https://twitter.com" target="_blank" rel="noopener norefferrer"
                    aria-label="Twitter icon">
                    <svg class="hero__social__icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="hero__social__item">
                <a class="hero__social__link link" href="https://instagram.com" target="_blank"
                    rel="noopener norefferrer" aria-label="Instagram icon">
                    <svg class="hero__social__icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="hero__social__item">
                <a class="hero__social__link link" href="https://facebook.com" target="_blank"
                    rel="noopener norefferrer" aria-label="Facebook icon">
                    <svg class="hero__social__icon" width="16" height="16">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>