<section class="section-price">
  <div class="container">
    <h2 class="section-price__title">Price</h2>
    <ul class="section-price__list">
      <li class="price-card">
        <h3 class="price-card__title">Easy start</h3>
        <ul class="price-card__list price-card__list--without-bg-image">
          <li class="price-card__item">
            <p>features of yeast dough preparation</p>
          </li>
          <li class="price-card__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-card__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-card__item"><p>fry and glaze donuts</p></li>
        </ul>
        <a href="#registration" class="btn btn--add-margin">Register</a>
      </li>
      <li class="price-card">
        <h3 class="price-card__title">I want delicious donuts</h3>
        <ul class="price-card__list">
          <li class="price-card__item">
            <p>features of yeast dough preparation</p>
          </li>
          <li class="price-card__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-card__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-card__item"><p>melt chocolate for decoration</p></li>
          <li class="price-card__item"><p>fry and glaze donuts</p></li>
          <li class="price-card__item">
            <p>donut decoration. painting and various techniques</p>
          </li>
        </ul>
        <a href="#registration" class="btn btn--add-margin">Register</a>
      </li>
      <li class="price-card">
        <h3 class="price-card__title">Premium</h3>
        <ul class="price-card__list">
          <li class="price-card__item">
            <p>features of yeast dough preparation</p>
          </li>
          <li class="price-card__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-card__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-card__item"><p>melt chocolate for decoration</p></li>
          <li class="price-card__item"><p>fry and glaze donuts</p></li>
          <li class="price-card__item">
            <p>donut decoration. painting and various techniques</p>
          </li>
          <li class="price-card__item">
            <p>After party and donut tasting with speakers</p>
          </li>
          <li class="price-card__item">
            <p>2 private lessons with one of the speakers</p>
          </li>
        </ul>
        <a href="#registration" class="btn btn--add-margin">Register</a>
      </li>
    </ul>
  </div>
</section>
