<section class="program" id="section-program">
  <div class="program-container container">
    <div class="program-containerList">
      <h2 class="container__title">Program</h2>
      <p class="program__description">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <button type="button" class="program__btn">
        <span>Read more</span>
      </button>
    </div>
    <ul class="program__card">
      <li class="program__itemPict">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/program/bg_289.png 1x,
              ./images/program/bg_578.png 2x
            "
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/program/bg_152.png 1x,
              ./images/program/bg_304.png 2x
            "
          />

          <!-- phone screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/program/bg_130.png 1x,
              ./images/program/bg_260.png 2x
            "
          />

          <img
            class="program__img"
            src="./images/program/bg_130.png"
            alt="Пончики"
            loading="lazy"
          />
        </picture>
        <div class="program__overlay">
          <p class="program__overlay1part">Type of the event</p>
          <p class="program__overlay2part">Cooking classes</p>
        </div>
      </li>
      <li class="program__itemPict">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/program/bg_289-1.png 1x,
              ./images/program/bg_578-1.png 2x
            "
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/program/bg_152-1.png 1x,
              ./images/program/bg_304-1.png 2x
            "
          />

          <!-- phone screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/program/bg_130-1.png 1x,
              ./images/program/bg_260-1.png 2x
            "
          />

          <img
            class="program__img"
            src="./images/program/bg_130-1.png"
            alt="Гости"
            loading="lazy"
          />
        </picture>
        <div class="program__overlay">
          <p class="program__overlay1part">Number of guests</p>
          <p class="program__overlay2part">1 to 20</p>
        </div>
      </li>
      <li class="program__itemPict">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/program/bg_289-2.png 1x,
              ./images/program/bg_578-2.png 2x
            "
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/program/bg_152-2.png 1x,
              ./images/program/bg_304-2.png 2x
            "
          />

          <!-- phone screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/program/bg_130-2.png 1x,
              ./images/program/bg_260-2.png 2x
            "
          />

          <img
            class="program__img"
            src="./images/program/bg_130-2.png"
            alt="Время"
            loading="lazy"
          />
        </picture>
        <div class="program__overlay">
          <p class="program__overlay1part">Time of the event</p>
          <p class="program__overlay2part">18:30 (2.5 hours)</p>
        </div>
      </li>
      <li class="program__itemPict">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/program/bg_289-3.png 1x,
              ./images/program/bg_578-3.png 2x
            "
          />

          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/program/bg_152-3.png 1x,
              ./images/program/bg_304-3.png 2x
            "
          />

          <!-- phone screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/program/bg_130-3.png 1x,
              ./images/program/bg_260-3.png 2x
            "
          />

          <img
            class="program__img"
            src="./images/program/bg_130-3.png"
            alt="Урок"
            loading="lazy"
          />
        </picture>
        <div class="program__overlay">
          <p class="program__overlay1part">The host speaks</p>
          <p class="program__overlay2part">English, French</p>
        </div>
      </li>
    </ul>
  </div>
</section>
