<section class="program" id="section-program">
  <div class="program-container container">
    <div class="program-containerList">
      <h2 class="container__title">Program</h2>
      <p class="program__description">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul class="program__list">
        <li class="program__item">A stand up history of donuts</li>
        <li class="program__item">Make 3 donut flavors of your choice</li>
        <li class="program__item">Enjoy all-you-can-eat donuts</li>
        <li class="program__item">Cocktail pairings and coffee included</li>
        <li class="program__item">Photoshoot by professional photographer</li>
        <li class="program__item">Secret receipt of cooking from Eva</li>
        <li class="program__item">All products are included in the price</li>
      </ul>
      <button class="program__btn" type="button">
        Read more
      </button>
      <p class="program-thumb__text">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>
    </div>
    <ul class="program__card">
      <li class="program__itemPict">
        <img class="program__img"
          srcset="
            ./images/program/bg_130.png 130w,
            ./images/program/bg_260.png 260w,
            ./images/program/bg_152.png 152w,
            ./images/program/bg_304.png 304w,
            ./images/program/bg_289.png 289w,
            ./images/program/bg_578.png 578w
          "
          sizes="(min-width: 1280px) 289px, (min-width: 480px) 152px, (min-width: 320px) 130px, 100vw"
          src="./images/program/bg_130.png"
          alt="Donut"
          loading="lazy"
        />

        <div class="program__overlay">
          <p class="program__overlay1part">Type of the event</p>
          <p class="program__overlay2part">Cooking classes</p>
        </div>
      </li>
      <li class="program__itemPict">
        <img class="program__img"
          srcset="
            ./images/program/bg_130-1.png 130w,
            ./images/program/bg_260-1.png 260w,
            ./images/program/bg_152-1.png 152w,
            ./images/program/bg_304-1.png 304w,
            ./images/program/bg_289-1.png 289w,
            ./images/program/bg_578-1.png 578w
          "
          sizes="(min-width: 1280px) 289px, (min-width: 480px) 152px, (min-width: 320px) 130px, 100vw"
          src="./images/program/bg_130-1.png"
          alt="Donut"
          loading="lazy"
        />

        <div class="program__overlay">
          <p class="program__overlay1part">Number of guests</p>
          <p class="program__overlay2part">1 to 20</p>
        </div>
      </li>
      <li class="program__itemPict">
        <img class="program__img"
          srcset="
            ./images/program/bg_130-2.png 130w,
            ./images/program/bg_260-2.png 260w,
            ./images/program/bg_152-2.png 152w,
            ./images/program/bg_304-2.png 304w,
            ./images/program/bg_289-2.png 289w,
            ./images/program/bg_578-2.png 578w
          "
          sizes="(min-width: 1280px) 289px, (min-width: 480px) 152px, (min-width: 320px) 130px, 100vw"
          src="./images/program/bg_130-2.png"
          alt="Donut"
          loading="lazy"
        />

        <div class="program__overlay">
          <p class="program__overlay1part">Time of the event</p>
          <p class="program__overlay2part">18:30 (2.5 hours)</p>
        </div>
      </li>
      <li class="program__itemPict">
        <img class="program__img"
          srcset="
            ./images/program/bg_130-3.png 130w,
            ./images/program/bg_260-3.png 260w,
            ./images/program/bg_152-3.png 152w,
            ./images/program/bg_304-3.png 304w,
            ./images/program/bg_289-3.png 289w,
            ./images/program/bg_578-3.png 578w
          "
          sizes="(min-width: 1280px) 289px, (min-width: 768px) 152px, (min-width: 320px) 130px, 100vw"
          src="./images/program/bg_130-3.png"
          alt="Donut"
          loading="lazy"
        />
        <div class="program__overlay">
          <p class="program__overlay1part">The host speaks</p>
          <p class="program__overlay2part">English, French</p>
        </div>
      </li>
    </ul>
  </div>
</section>
