<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title">Reviews</h2>
    <div class="reviews__service-wrapper">
      <div class="reviews__slider swiper-container">
        <div class="swiper-wrapper">
          <div class="slider__item swiper-slide">
            <div class="slider__img-wrapper">
              <img
                srcset="
                  ./images/slider/img02_285.jpg 1x,
                  ./images/slider/img02_570.jpg 2x
                "
                src="./images/slider/img02_285.jpg"
                alt=""
                class="slider__img"
              />
            </div>
            <div class="reviews__content">
              <img
                src="./images/slider/rate-5.png"
                alt=""
                class="slider__img-rate"
                width="136"
                height="24"
              />
              <h3 class="reviews__subtitle">Will</h3>
              <article class="reviews__article">
                Last time I have visited a cooking course by Eva <br />
                I was impressed with the way she explained everything <br />
                to people. You can be sure you will manage to cook a delicious
                dish even if it is your first time in the kitchen! <br />
                Thank you so much for the masterclass! Looking forward to the
                next one and highly recommend it to everyone!
              </article>
            </div>
          </div>
          <div class="slider__item swiper-slide">
            <div class="slider__img-wrapper">
              <img
                srcset="
                  ./images/slider/img03_285.jpg 1x,
                  ./images/slider/img03_570.jpg 2x
                "
                src="./images/slider/img03_285.jpg"
                alt=""
                class="slider__img"
              />
            </div>
            <div class="reviews__content">
              <img
                src="./images/slider/rate-5.png"
                alt=""
                class="slider__img-rate"
                width="136"
                height="24"
              />
              <h3 class="reviews__subtitle">Elisabeth</h3>
              <article class="reviews__article">
                Last time I have visited a cooking course by Eva <br />
                I was impressed with the way she explained everything <br />
                to people. You can be sure you will manage to cook a delicious
                dish even if it is your first time in the kitchen! <br />
                Thank you so much for the masterclass! Looking forward to the
                next one and highly recommend it to everyone!
              </article>
            </div>
          </div>
          <div class="slider__item swiper-slide">
            <div class="slider__img-wrapper">
              <img
                srcset="
                  ./images/slider/img01_285.jpg 1x,
                  ./images/slider/img01_570.jpg 2x
                "
                src="./images/slider/img01_285.jpg"
                alt=""
                class="slider__img"
              />
            </div>
            <div class="reviews__content">
              <img
                src="./images/slider/rate-4.png"
                alt=""
                class="slider__img-rate"
                width="136"
                height="24"
              />
              <h3 class="reviews__subtitle">John</h3>
              <article class="reviews__article">
                Last time I have visited a cooking course by Eva <br />
                I was impressed with the way she explained everything <br />
                to people. You can be sure you will manage to cook a delicious
                dish even if it is your first time in the kitchen! <br />
                Thank you so much for the masterclass! Looking forward to the
                next one and highly recommend it to everyone!
              </article>
            </div>
          </div>
        </div>
        <div class="reviews__pagination-wrapper">
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
