<section class="speakers">
    <div class="container">
        <h2 class="speakers__title">Speakers</h2>
        <ul class="speakers__list">
            <li class="speakers__item">
                <img class="speakers__img" srcset="
              ./images/speakers/img-1-130.png 130w,
              ./images/speakers/img-1-152.png 152w,
              ./images/speakers/img-1-260.png 260w,
              ./images/speakers/img-1-288.png 288w,
              ./images/speakers/img-1-304.png 304w,
              ./images/speakers/img-1-576.png 576w
            " sizes="(min-width: 1280px) 288px, (min-width: 768px) 152px, (min-width: 320px) 130px, 100vw"
                    src="./images/speakers/img-1-130.png" alt="Molly Rivera" loading="lazy" />
                <h3 class="speakers__name">Molly Rivera</h3>
                <p class="speakers__description">Pastry chef, master chocolatier of Spain</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__img" srcset="
              ./images/speakers/img-2-130.png 130w,
              ./images/speakers/img-2-152.png 152w,
              ./images/speakers/img-2-260.png 260w,
              ./images/speakers/img-2-288.png 288w,
              ./images/speakers/img-2-304.png 304w,
              ./images/speakers/img-2-576.png 576w
            " sizes="(min-width: 1280px) 288px, (min-width: 768px) 152px, (min-width: 320px) 130px, 100vw"
                    src="./images/speakers/img-2-130.png" alt="Sophia Clark" loading="lazy" />
                <h3 class="speakers__name">Sophia Clark</h3>
                <p class="speakers__description">Сulinary school pastry chef</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__img" srcset="
              ./images/speakers/img-3-130.png 130w,
              ./images/speakers/img-3-152.png 152w,
              ./images/speakers/img-3-260.png 260w,
              ./images/speakers/img-3-288.png 288w,
              ./images/speakers/img-3-304.png 304w,
              ./images/speakers/img-3-576.png 576w
            " sizes="(min-width: 1280px) 288px, (min-width: 768px) 152px, (min-width: 320px) 130px, 100vw"
                    src="./images/speakers/img-3-130.png" alt="Isabella Taylor" loading="lazy" />
                <h3 class="speakers__name">Isabella Taylor</h3>
                <p class="speakers__description">Сonsultant in the art of confectionery</p>
            </li>
            <li class="speakers__item">
                <img class="speakers__img" srcset="
              ./images/speakers/img-4-130.png 130w,
              ./images/speakers/img-4-152.png 152w,
              ./images/speakers/img-4-260.png 260w,
              ./images/speakers/img-4-288.png 288w,
              ./images/speakers/img-4-304.png 304w,
              ./images/speakers/img-4-576.png 576w
            " sizes="(min-width: 1280px) 288px, (min-width: 768px) 152px, (min-width: 320px) 130px, 100vw"
                    src="./images/speakers/img-4-130.png" alt="Evelyn Miller" loading="lazy" />
                <h3 class="speakers__name">Evelyn Miller</h3>
                <p class="speakers__description">Master- chocolatier in Spain</p>
            </li>
        </ul>
    </div>
</section>
