 
 /*Header*/
 .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #E5E2E3;
    width: 100%;
    background-color: transparent;
  
    @media screen and (min-width: 1280px) {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 20px 20px;
    background-color: transparent;

   @media screen and (min-width: 768px) {
    padding: 24px 32px 28px 32px;
   }
   @media screen and (min-width: 1280px) {
     padding-top: 36px;
  }
}

.nav {
    display: flex;
    flex-shrink: 0;
  }

  .nav__list {
    display: none;
    align-items: flex-end;
    margin-left: 55px;
    padding:20px 0;
  
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }
    
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
  
 .nav__link{
   color: #3C322D;
   font-size: 18px; 
   line-height: calc(22/18);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   &:hover,
   &:focus{
    background-color: rgba(248, 110, 103, 0.63);
    color:#FCFCFC ;

   }
   
 }



  /**Hero**/
  
.hero{
 
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/header/hero_mbl@1x.png");


  @media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)
   {
    background-image:  url("../images/header/hero_mbl@2x.png");
    
  }
 
  @media screen and (min-width: 481px) {
    background-image:url("../images/header/hero_tblt@1x.png");
   

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi),screen and (min-resolution: 2dppx){
        
        background-image: url("../images/header/hero_tblt@2x.png");
    }
   
  }

  @media screen and (min-width: 769px) { 
     background-image:  url("../images/header/hero_dsktp@1x.png");
     
    @media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
      background-image: url("../images/header/hero_dsktp@2x.png");
    }
    
  }

}

.hero__container {
    position: relative;
    padding-top: 86px;
    padding-bottom: 8px;
  
  
    @media screen and (min-width: 768px) {
      padding: 98px 0 43px 32px;
      text-align: left;
      
    
    }
  
    @media screen and (min-width: 1280px) {
      padding: 171px 0 90px 16px;
      
    }
  }

  .hero__title{
     align-items: center;
     font-size: 28px;
     font-weight: 600;
     line-height: calc(34/28);
     letter-spacing: 0.03em;
     margin-bottom: 18px;
     font-family: Montserrat Alternates;
     color:#3C322D;

    @media screen and (min-width: 768px) {
       font-size: 30px;
       line-height: calc(37/30);
       margin-bottom: 10px;

      }
    
      @media screen and (min-width: 1280px) {
        font-size: 60px;
        line-height: calc(65/60);
        margin-bottom: 20px;
       
      }
  }
  
 .hero__subtitle{
     margin-bottom: 28px;
     font-size: 16px;
     font-weight: 500;
     line-height: calc(20/16);

      @media screen and (min-width: 768px) {
        
        line-height: calc(37/30);
        margin-bottom: 24px;
 
       }
     
       @media screen and (min-width: 1280px) {
         font-size: 24px;
         line-height: calc(29/24);
         margin-bottom: 28px;
        
       }
 }
 .hero__btn{
    margin-bottom: 28px;
    min-width: 145px;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 9px  0;
    background-color:#F3848C;
    box-shadow:  10px 15px 25px   rgba(232, 183, 183, 0.45) ;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(22/18);
    cursor: pointer;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {

        margin-bottom: 20px;
 
       }
     
       @media screen and (min-width: 1280px) {
       
         margin-bottom: 32px;
        
       }
    
    &:hover, 
    &:focus {
      color:#F3848C;
      background-color:#FFFFFF ;
      border: rgba(243, 132, 140, 1) 1px solid;
      box-shadow:  10px 15px 25px   rgba(232, 183, 183, 0.45) ;
    }
    &:active{
        box-shadow:  10px 15px 25px   rgba(232, 183, 183, 0.45), inset 0 4px 4px 0 rgba(107, 66, 66, 0.25) ;
        background-color:#F3848C;
        color: #FFFFFF;
    }
      
    }

 
.hero__social__list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    gap: 16px;

    @media screen and (min-width: 768px) {

      justify-content: flex-start;
 
       }
    
}

.hero__social__link{
   cursor: pointer;
   fill:#3C322D;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover, 
    &:focus {

      fill:#F3848C;
     
    }
    &:active{
        
        fill: #F3848C;
    }
}


/** Mobile Menu**/
.menu-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color:#E5E2E3;
    top: 0;
    right: 0;
    padding: 48px 83px 48px 40px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .js-menu-container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.menu__toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    
  }

  @media (min-width: 768px) {
    .menu__toggle {
        align-items: center;
    }
    
  }
  
  
  @media (min-width: 1280px) {
    .menu-container, .menu__toggle {
      display: none;
    }
  }


  
