.program {
  padding-top: 28px;

@media screen and (min-width:768px) {
  padding-top: 80px;
}

@media screen and (min-width: 1280px) {
  padding-top: 100px;
}
}
.program-container {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 0 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 31px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 15px;
  }
}

.program-containerList {

  @media screen and (min-width: 768px) {
   
    margin-right: 39px;  
  }

  @media screen and (min-width: 1280px) {
    margin-right: 116px;
  }
}
.container__title {
  margin-bottom: 8px;

  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1.219;
    margin-bottom: 28px;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 62px;
    margin-bottom: 24px;
  }
}
.program__description {
  margin-bottom: 8px;
  font-size: 16px;

  line-height: 1.25;

  @media screen and (min-width: 768px) {
    width: 329px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280px) {
    width: 417px;
    font-size: 18px;
    line-height: 1.222;
    margin-bottom: 20px;
  }
}
.program__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 16px;
  

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    width: 329px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    width: 417px;
  }
}
.program__item {
  display: inline-flex;

  align-items: center;
  color: currentColor;
  text-decoration: none;

  line-height: 1.25;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.222;
  }
}

.program__item::before {
  content: '';
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-right: 16px;
  background-image: url(../images/program/iко.png);
}

.program__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

/*----Button----*/


.program__btn {
  margin-bottom: 24px;
  padding: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  border: none;
  background: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.222;
  }

    @media screen and (min-width: 1280px) {
      display: none;
    }
}

.program__btn:hover ~ .program-thumb__text,
.program__btn:hover ~ .program-thumb__text {
  display: block;
  width: 329px;
}



.program-thumb__text {
  display: none;
  margin-bottom: 20px;


  @media screen and (min-width: 1280px) {
      display: block;
      font-weight: 400;
      font-size: 18px;
      line-height: calc(22 / 18);
      width: 417px;
      
    }
 
}

.program__card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

@media screen and (min-width: 768px) {
  align-content: flex-start;
}
 
}


.program__itemPict {
 position: relative;
  @include width-card(20px, 2);
  

@media screen and (min-width: 768px) {
    @include width-card(33px, 2);
  }

@media screen and (min-width: 1280px) {
  @include width-card(139px, 2);
}
}

.program__itemPict:nth-child(2n) {
    margin-top: 44px;
    margin-left: 20px;
    
    

@media screen and (min-width: 768px) {
  margin-top: 60px;
  margin-left: 33px;
}
@media screen and (min-width: 1280px) {
  margin-top: 60px;
  margin-left: 138px;
  
}
  
}



.program__img {
  
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 50%;
 

}


/*------Overlay---------*/
.program__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 130px;
  height: 130px;
  background: linear-gradient(359.91deg, #000000 -9.13%, rgba(156, 156, 156, 0) 92.37%);
    border: 1px solid #F3848C;
    border-radius: 50%;

  @media screen and (min-width: 480px) {
    width: 152px;
    height: 152px;
    background: linear-gradient(0.12deg, #000000 -11.45%, rgba(156, 156, 156, 0) 69.04%);
  }

@media screen and (min-width: 1280px) {
  width: 289px;
  height: 289px;
  background: linear-gradient(0deg, #000000 -10.1%, rgba(156, 156, 156, 0) 66.78%);
  
}
  
}

.program__overlay1part {
  font-family: 'Montserrat Alternates';
  padding-top: 62px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    padding-top: 79px;
    font-size: 16px;
    line-height: calc(20 / 16);
  }

@media screen and (min-width: 1280px) {
  padding-top: 191px;
  font-size: 24px;
  line-height: calc(29 / 24);
}
}
.program__overlay2part {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;

  color: $secondary-text-color;
  
  @media screen and (min-width: 768px) {
      
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  
    @media screen and (min-width: 1280px) {
      
      font-size: 16px;
      line-height: calc(20 / 16);
    }

}
